<form [formGroup]="userform" >

<h2 mat-dialog-title>Welcome</h2>


<mat-dialog-content>
  <mat-form-field>
    <input matInput name="username" placeholder="User Name" formControlName="username" required (click)="onKey($event)">
    <mat-error *ngIf="username?.invalid" id="error-email-required">User Name Required</mat-error>
  </mat-form-field>

  <br/>
  <mat-form-field>
    <input matInput name="password" type="password" placeholder="Password" formControlName="password" required (click)="onKey($event)">
    <mat-error *ngIf="password?.invalid" id="error-password-required">Password Required</mat-error>
  </mat-form-field>

  <mat-error *ngIf="errormessage" id="error-message">{{ errormessage }}</mat-error>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit(userform.value)" [disabled]="!userform.valid" style="width: 80px;">Sign In</button>&nbsp;&nbsp;
  <button mat-stroked-button color="primary" (click)="register(userform.value)" [disabled]="!userform.valid" style="width: 80px;">Register</button>

</mat-dialog-actions>
</form>




