/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber';*/

@import '~@angular/material/prebuilt-themes/indigo-pink';



body { font: 13px Helvetica, Arial; background-color: gainsboro}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button { width: 80px; color: red}







